form {
    margin: 0 auto;
    padding: 20px;
    background-color: #fffafa;
    width: 40%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #d3b583; /* Bordure café crème */
}

input[type="text"], input[type="password"] {
    width: 80%;
    max-width: 300px;
    padding: 8px;
    margin: 10px auto;
    border: 1px solid #d3b583; /* Bordure café crème */
    border-radius: 5px;
    display: block;
    background-color: #fdf5e6; /* Arrière-plan champ café crème */
}


h1 {
    color: #ff4500;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fffafa;
}

th {
    background-color: #ff69b4;
    color: white;
}

tr:nth-child(even) {
    background-color: #ffe4e1;
}

button {
    background-color: #8a2be2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5d3fd3;
}

a {
    text-decoration: none;
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fffafa;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}