body {
    background-color: #f5f5dc; /* Couleur café crème */
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #fffafa; /* Une légère couleur de fond pour les conteneurs */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #8b4513; /* Couleur café pour les boutons primaires */
    border-color: #8b4513;
}

.btn-primary:hover {
    background-color: #a0522d;
    border-color: #a0522d;
}

