<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Bienvenue, {{ user[1] }}</h1>
        <h2>Mes consommations</h2> 
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Café Court</h5>
                        <p class="card-text">{{ user[3] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Café Long</h5>
                        <p class="card-text">{{ user[4] }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total dépensé</h5>
                        <p class="card-text">{{ total_amount }} €</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 d-flex flex-wrap">
            <a href="{{ url_for('add_coffee', coffee_type='court') }}" class="btn btn-primary mb-2 mr-2">Ajouter Café Court</a>
            <a href="{{ url_for('add_coffee', coffee_type='long') }}" class="btn btn-secondary mb-2 mr-2">Ajouter Café Long</a>
        </div>
        <h2>Consommations totales de la machine:</h2>
        <div class="row">
            <div class="col-12 mb-3">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total des cafés consommés depuis le début:</h5>
                        <p class="card-text">{{ total_coffee }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total de cafés depuis le paquet actuel {{ package_name }}:</h5>
                        <p class="card-text">{{ total_since_reset }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 d-flex flex-wrap">
            {% if user[5] == 'admin' %}
                <a href="{{ url_for('admin_dashboard') }}" class="btn btn-warning mb-2 mr-2">Accéder au Tableau de Bord Admin</a>
            {% endif %}
            <!--<a href="{{ url_for('update_package') }}" class="btn btn-secondary mb-2 mr-2">Modifier le Paquet de Café</a>-->
            <a href="{{ url_for('logout') }}" class="btn btn-danger mb-2">Se déconnecter</a>
        </div>
    </div>
</body>
</html>